	body	{
	background-color: white;
	text-align:	center;
	}
	p	{
	color:	black;
	text-align: center;
	font-size:	20px;
	}
	.logo-container	{
	  display:	flex;
	  align-items:	center;
	  }
	h1	{
  	  color:orange;
  	  font-family: verdana; 
  	  font-size: 20px;
  	  padding:	10px;
	  text-align: right;
	}
	img	{
	  float:	left;
	  display: block;
	  }
	.topnav {
  	  background-color: orange;
  	  overflow:	hidden;
	}
	.topnav a {
  	  float: right;
  	  color: white;
  	  text-align: center;
  	  padding: 14px 16px;
  	  text-decoration: none;
  	  font-size: 20px;
  	}
	.topnav a:hover {
      background-color: white;
  	  color: black
  	}
  	.image1	{		
		display:	block;
		width: 1400px;
		height:	1000px;
		overflow: hidden;
		opacity:	0.7;
		margin: auto;
	}
	p.p2	{
		text-align: bottom;
	}