		header {
			background-color: grey;
			text-align: center;
			color: #ffffff;
			padding: 10px;
			text-align: left;
			font-size: 22px;
		}

		.topnav {
			background-color: #000000;
			overflow: hidden;
		}

		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 20px;
		}

		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		body {
			background-color: black;
		}

		h1 {
			color: white;
			text-align: center;
			padding: 14px 16px;
			font-size: 50px;
		}

		p {
			color: white;
			text-align: left;
			font-size: 18px;
		}

		.album img {
			margin-top: 14px;
		}

		.albuminformation {
			float: left;
		}

		ul {
			list-style-type: Upeer-roman;
			color: white;
		}

		imag	{
			display: block;
			margin: auto;
			height: 140px;
			width: 140px;
		}

		current-song {
			color: white;
		}
		a	{
			color:	gray;
		}
			.header {
	  background-color: #000000;
	  color: #ffffff;
	  padding: 10px;
      font-size: 22px;
	  text-align: center;
    }
	.topnav {
  	  background-color: #000000;
  	  overflow: hidden;
	}
	.topnav a {
  	  color: #f2f2f2;
  	  text-align: center;
  	  padding: 14px 16px;
  	  text-decoration: none;
  	  font-size: 20px;
	}
	.topnav a:hover {
  	  background-color: #ddd;
  	  color: black;
	}
	body	{
	  background-color: black;
	}
	.image1	{
	max-width:	100%;
	height:	auto;
	object-fit:	contain;
	}
	p	{
	  color: white;
	  text-align:center;
  	  font-size: 25px;
  	}
			.header {
			background-color: #000000;
			color: #ffffff;
			padding: 10px;
			text-align: center;
			font-size: 22px;
		}
		.topnav {
			background-color: #000000;
			overflow: hidden;
		}
		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 20px;
		}
		.topnav a:hover {
			background-color: #ddd;
			color: black;
			background-color: black;
		}
		.image2 {
			height: 100px;
			vertical-align:	middle;			
		}
		span {
			color: white;
			font-size: 25px;
		}
	footer	{
	text-align:	center;
	font-size:	6px;
	padding:	3px;
	color:	white;
	}