name: Deploy HTML Files to AppServiceCMST
on:
  push:
    branches:
      - main
jobs:
build-and-deploy:
  runs-on: windows-latest
  steps:
  - uses: actions/checkout@master
  - name: Deploy to Azure Web App
    uses: azure/webapps-deploy@v1
    with:
    app-name: 'CMST385-sgonzales22'
    slot-name: 'production"
    publish-profile: ${{ secrets.APPSERVICESCMST385 }}
